<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div style="padding-top: 5px; padding-bottom: 5px;">
      <h1 class="logo-name"><%= image_tag "mvc_logo.png", width: 300 %></h1>
    </div>

    <div style="padding-top: 1px;">
      <span style="font-family: Arial; font-size: 25px;">RFC Application</span>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "m-t", role: "form"}) do |f| %>
      <div class="form-group">
        <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control", required: true %>
      </div >
     <br>
     <button type="submit" class="btn btn-success block med-width m-b col-sm-offset-4 col-sm-4">Login</button>
      
    <% end %>
    <%
      if Time.now.year >= 2022
        date = "2021 - " + "#{Time.now.year}"
      else
        date = Time.now.year
        # Time.now.year
      end
    %>
    <br>
    <br>
    <br>
    <p class="mt t" > <small>RFC Application &copy; <%= date %></small> </p>
  </div>
</div>
