<div class="wrapper wrapper-content animated fadeInRight">
  <div class="page-header">
    <%= link_to new_main_responsibility_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Tambah
    <% end %>
    <!--    <h1>Listing </h1>-->
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
      <thead>
      <tr>
        <th>No</th>
                  <th>Staff</th>
                  <th>Tanggung jawab utama</th>
                  <th>Periode</th>
                  <th>Frekuensi</th>
                  <th>Menit (per 1 frekuensi)</th>
                <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @main_responsibilities.each_with_index do |main_responsibility, index| %>
      <tr>
        <td><%= index+1 %></td>
                  <td><%= main_responsibility.staff.try(:nama) %></td>
                  <td><%= main_responsibility.tanggung_jawab_utama %></td>
                  <td><%= main_responsibility.periode %></td>
                  <td><%= main_responsibility.frekuensi %></td>
                  <td><%= main_responsibility.menit %></td>
                <td><%= link_to 'Detail', main_responsibility %></td>
        <td><%= link_to 'Edit', edit_main_responsibility_path(main_responsibility) %></td>
        <td><%= link_to 'Destroy', main_responsibility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
$(function() {
    $('.dataTables-example').dataTable({
        "dom": 'T<"clear">lfrtip',
        "bInfo" : false,
        "tableTools": {
            "sSwfPath": "../assets/dataTables/swf/copy_csv_xls_pdf.swf"
        }
    });
});
</script>
